@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

div {
  color: black;
  font-family: 'Trebuchet MS'
}

h1 {
  font-family: 'Trebuchet MS';
  font-size: 50px;
  background-color: aqua;
  padding-left: 0.5%;
}

h2 {
  text-align: center;
  font-size: 25px;
}

p {
  text-align: center;
  font-size: 18px;
}

.spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-left-color: #09f;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: 100px auto;
}

.filterBox {
  margin: auto;
  margin-bottom: 20px;
}

input {
  outline: auto;
}

.header {
  background-color: aqua;
  color: white;
  text-align: center;
}

.nav-list {
  font-family: 'Trebuchet MS';
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.nav-list li {
  margin: 0;
}

.nav-list a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-list a:hover {
  text-decoration: underline;
}

.project-display h2 {
  font-family: 'Trebuchet MS';
  font-size: 2rem;
  color: #333; 
  margin-bottom: 10px; 
  text-align: center;
}

.project-display p {
  font-family: 'Trebuchet MS';
  font-size: 1.5rem; 
  color: #666; 
  line-height: 1.5; 
  margin-bottom: 15px; 
  text-align: center; 
}

.project-display p.long-desc {
  font-family: 'Trebuchet MS';
  font-size: 0.9rem; 
  color: #444; 
  white-space: pre-wrap; 
  overflow-wrap: break-word; 
}

.screenshots {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; 
  justify-content: center;
  align-items: center;
}

.screenshotList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; 
  justify-content: center;
  align-items: center;
}

.screenshots img {
  max-width: 500px; 
  height: auto; 
}

.screenshotList img {
  max-width: 300px; 
  height: auto; 
}

.kioskButton {
  background-color: aqua; 
  border: none;
  color: black; 
  padding: 15px 20px; 
  text-align: center;
  text-decoration: none; 
  display: block; 
  width: 200px; 
  margin: 20px auto; 
  font-size: 16px; 
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

.link {
  color: blue
}

.link:hover {
  color: aqua
}

.qrCode {
  padding-left: 0.5%;
}

.container {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.container::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
